#!/bin/bash
{% from "certbot/map.jinja" import certbot with context %}
COMMON_NAME="$1"

JOINED=""
for DOMAIN in "$@"
do
    JOINED+=" -d $DOMAIN"
done

if ! /usr/local/bin/check_letsencrypt_cert.sh "$@" > /dev/null
then
    {{ certbot.cli_install_dir }}/certbot-auto --non-interactive --agree-tos --quiet certonly ${JOINED} || exit 1
    cat /etc/letsencrypt/live/${COMMON_NAME}/fullchain.pem \
        /etc/letsencrypt/live/${COMMON_NAME}/privkey.pem \
        > /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chmod 600 /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
fi
